demo/*
*.pyc
results_dir
template.py
logs/*
shrink.sh
sns-ext/logs/*
snsxt/logs/*
misc/
oldcode/
example_sns_analysis/
snsxt/sns_tasks/logs/*
example_sns_analysis2
QC-Coverage-Custom
foo
*.Rdata
example_sns_analysis3
snsxt/sns/*
example_sns_analysis4/
test.tsv
example_sns_analysis5/
example_sns_analysis5-UseThis
example_sns_analysis6/
example_sns_analysis5-copy/
demo_fastq
demo_fastq1/
demo_fastq2/
example_sns_analysis_for_validation/
sns_output/
demo*
example_sns_analysis5-qsub-test/
example_run_for_validation
example_runs/
example_sns_analysis_for_validation-UseThis_source_brokenlink
mini_analysis/
mini_analysis-controls/
docs/_build/
blais-snakefood-6d55510bd30b
deps/venv
example_runs
