demo/*
*.pyc
results_dir
template.py
logs/*
shrink.sh
sns-ext/logs/*
snsxt/logs/*
misc/
oldcode/
example_sns_analysis/
snsxt/sns_tasks/logs/*
example_sns_analysis2
QC-Coverage-Custom
foo
*.Rdata
example_sns_analysis3
